@model KyivDigital.Business.Models.PagedFeedResponse

@foreach (var item in Model.Feed.Data)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
    </tr>
}