@model KyivDigital.Business.Models.PagedFeedResponse
@{
    ViewData["Title"] = "Новини";
    var nameClaim = User.Claims.FirstOrDefault(x => x.Type == "FirstName");
    string name = null;
    if (nameClaim != null)
        name = nameClaim.Value;
}

<div class="text-center">
    <h1 class="display-4">Вітаємо, @name!</h1>
    <p>Перша версія веб застосунку "Київ Цифровий"</p>
</div>

<div class="page-content page-container col-sm-12" id="page-content">
        <div class="list list-row block" id="feedNews">

        </div>
</div>

@section Scripts {
    <script src="~/js/InfinitiySroll.js"></script>

    <script>
        var infinityScroll = new InfinitiySroll("feedNews", "/home/_FeedData", {});
    </script>
}
