@model KyivDigital.Business.Models.PagedFeedResponse
@{
    ViewData["Title"] = "Домашня сторінка";
    var nameClaim = User.Claims.FirstOrDefault(x => x.Type == "FirstName");
    string name = null;
    if (nameClaim != null)
        name = nameClaim.Value;
}

<div class="text-center">
    <h1 class="display-4">Вітаємо, @name!</h1>
    <p>Перша версія веб застосунку "Київ Цифровий"</p>
</div>

<table id="anyTable" class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section Scripts {
    <script src="~/js/InfinitiySroll.js"></script>

    <script>
        var infinityScroll = new InfinitiySroll("anyTable", "/home/_FeedData", { });
    </script>
}